dl {
  background: #333;
}

dt {
  background: #666;
}

dd {
  background: #999;
}

/*
 * Multi line comment: #123, #456
 */
// Single line comment: #123456

$link-color: rgba(144, 0, 0, .5);
$text-color: hsl(0, 100%, 50%);

ul {
  color: white;

  li {
    color: black;
  }
}
